<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Remover produto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
    <form #product="ngForm" (ngSubmit)="onSubmit($event)" >
	<div class="modal-body">
		<div class="container-fluid">
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text">Id do jogo:</span>
                    <input type="text" ngModel class="form-control" placeholder="Id do jogo" aria-label="gameId" name="productId" aria-describedby="basic-addon1">
                </div>
            </div>

          </div>
	</div>
    
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Remover</button>
	</div>
    </form>
</ng-template>