<nav class="navbar custom-bg-color">
    <div class="container-fluid">
        <div class="col-sm-7 ">
            <form class="d-flex" role="search">
                <input class="form-control me-2" id="search" #searchValue type="search" placeholder="Digite para buscar" aria-label="Search">
                <button class="btn btn-light" type="submit" (click)="searchGameName(searchValue)">
                  Search
                </button>
              </form>
        </div>
        <div id="button_encasing" class="col-sm-5 d-flex flex-row-reverse">
          <button class="btn btn-light me-2" *ngIf="checkIfUserIsNotLoggedIn()" (click)="openModal('register-user')">Registrar</button>
            <button class="btn btn-light me-2" *ngIf="checkIfUserIsNotLoggedIn()" routerLink="/user-login" routerLinkActive="activate">Entrar</button>
            <button class="btn btn-outline-secondary" [matMenuTriggerFor]="configMenu" *ngIf="!checkIfUserIsNotLoggedIn()">Olá , {{decodeJWT().sub}}</button>
            <mat-menu #configMenu="matMenu">
              <button mat-menu-item (click)="logOutUserAndRedirectToLoginPage()">Sair</button>
            </mat-menu>
            <button class="btn btn-primary me-2" routerLink="/cart" routerLinkActive="activate">
              <fa-icon [icon]="faCartPlus" class="fa-1x"></fa-icon>
              <div class="badge bg-danger custom-font-10-size">{{totalCartItems}}</div>
            </button>         
        </div>
      </div>
  </nav>