
<div class="mat-dialog-content inheritWidthSize">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Registrar Usuario</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
    </div>
    <div #userProperties class="modal-body">
      <form [formGroup]="clientForm" (ngSubmit)="addNewUser()" >
      <div class="container-fluid">
        <div class="row flex-row">
          <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input ngModel class="form-control" formControlName="userRName" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Número da rua:</mat-label>
            <input ngModel class="form-control" formControlName="userStreetNumber" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Número da casa:</mat-label>
            <input ngModel class="form-control" formControlName="userHomeNumber" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nome da rua:</mat-label>
            <input ngModel class="form-control" formControlName="userStreetName" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Usuario:</mat-label>
            <input ngModel class="form-control" formControlName="userUName" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Senha:</mat-label>
            <input ngModel class="form-control" formControlName="userPassword" matInput [type]="passwordHide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
              <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>  

          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" >Registrar</button>
          </div>    
       
        
        </div>
      </div>
  
    </form>
    </div>
   
  
  
  