<div class="body d-flex flex-column">
    <div class="nav-bar">
        <nav class="navbar navbar-expand-lg heightahundred navbar-light bg-light border-bottom border-dark">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="/admin-dashboard" >Control Panel</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <div class="d-flex">
                  <button class="btn btn-outline-secondary" [matMenuTriggerFor]="configMenu">Config</button>
                        <mat-menu #configMenu="matMenu">
                            <button mat-menu-item (click)="logOutUserAndRedirectToLoginPage()">Sair</button>
                        </mat-menu>
                </div>
              </div>
            </div>
          </nav>
    </div>
    <div class="body-content d-flex flex-row bg-light">
        <div class="side-nav border-end border-dark">
            <mat-list>
                <mat-action-list>
                    <button mat-list-item routerLink="user-panel">Usuários</button>
                    <button mat-list-item routerLink="game-panel">Jogos</button>
                    <button mat-list-item>Vendas</button>
                  </mat-action-list>
            </mat-list>
        </div>
        <div class="display-nav d-flex justify-content-center">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>