<div class="body d-flex flex-column rounded-top">
    <div class="head d-flex flex-row align-items-center">
        <h2 class=" fs-2 fw-bold">Profile: Augusto</h2>
    </div>
    <div class="body-content">
        <form class="d-flex flex-column align-self-center">
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Street Name:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Street Number:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>House Number:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Repeat New Password:</mat-label>
            <input matInput>
        </mat-form-field>
    </form>
        
    </div>
    <div class="footer d-flex flex-row align-items-center justify-content-around">
        <button type="button" class="btn btn-outline-danger btn-lg" routerLink="/product-list">Cancel</button>
        <button type="button" class="btn btn-outline-success btn-lg" (click)="updateUser()">Confirm</button>
    </div>
</div>