:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.body {
    width: 90vh;
    height: 85vh;
    align-self: center;
}

.head{
    width: 100%;
    height: 15%;
}

form{
    width: 80%;
    height: 100%;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 70%;
}

.footer {
    width: 100%;
    height: 15%;
}