
.custom-bg-color {
    background-color: #001524;
}

.custom-sizing {
    height: 100%;
}

.custom-shadeofgray-bg-color{
    background-color: #c5c6d0;
}

::ng-deep .mat-select-content {
    border-color: white;
    background-color: white;
}