<div class="mat-dialog-content inheritWidthSize">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Remover Usuario</h4>
  </div>
  <div #userProperties class="modal-body">
    <form [formGroup]="userForm" (ngSubmit)="deleteExistingUser()" >
    <div class="container-fluid">
      <div class="row flex-row">
        <mat-form-field>
          <mat-label>Id do Usuario:</mat-label>
          <input ngModel class="form-control" formControlName="userId" matInput [(ngModel)]="routeId">
        </mat-form-field>
        
        
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" >Remover</button>
        </div>    
     
      
      </div>
    </div>

  </form>
  </div>